body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
}

/* wrapper 用於設定網頁的整體寬度 */
.wrapper{
    background: rgba(0, 0, 0, 0.0) none repeat scroll 0 0;
    cursor: default;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: all 0.5s ease-in-out 0s;
    visibility: hidden;
    width: 100%;
    z-index: 999;
    opacity: 1;
    visibility: visible;
    overflow: scroll;
}



/* ---------- Header ---------- */

.header-area {   
    left: 0;
    /*position: absolute;*/
    top: 0;
    width: 100%;
    z-index: 99;
    transition: all 0.7s ease 0s;
    background-color: #5A7262; 
}

.transparent-bar.stick {
    background-color: #5A7262;
    color: #f3a395;
    border-bottom: 0;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.04);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 0;
    animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
    z-index: 9999;
}

.logo,
.logo-menu-wrapper,
.header-site-icon,
.sticky-logo {
    transition: all 0.7s ease 0s;
}

.stick .logo {
    display: none;
    transition: all 0.7s ease 0s;
}
.sticky-logo {
    display: none;
    transition: all 0.7s ease 0s;
}
.stick .sticky-logo {
    display: block;
    padding-top: 4px;
}
.stick .logo-menu-wrapper {
    padding-top: 0px;
}
.stick .header-site-icon {
    padding-top: 17px;
}
.stick .main-menu ul li a {
    line-height: 60px;
}

.hm-3-padding .header-site-icon,
.hm-4-padding .header-site-icon {
    padding-top: 64px;
}



/* -- Header Logo -- */

.logo-menu-wrapper {   /*Logo上下間隔*/
    padding-top: 37px;
    padding-bottom: 30px;
}

.logo-small-device {
    padding-top: 30px;
    display: none;
}



/* -- Header Side Icon -- */

.header-site-icon {   /*圖標按鈕位置*/
    display: flex;
    justify-content: flex-end;
    padding-top: 56px;
}

.same-style {   /*圖標按鈕間隔*/
    margin-left: 16px;
}

.same-style:first-child {   /*第一個圖標按鈕左邊間隔*/
    margin-left: 0px;
}

.same-style button,
.same-style a {   /*圖標按鈕樣式*/
    background-color: transparent;
    border: medium none;
    color: #FFFFFF;
    font-size: 28px;
    cursor: pointer;
    position: relative;
}

.same-style button:hover,
.same-style a:hover {   /*鼠標靠近圖標按鈕*/
    color: #f3a395;
}



/*---------- Section Remarks ----------*/

.section-remarks {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 80%;
    position: relative;
    background-image: url(../../images/background/watercolorpink.png);
    background-position: top;
}

.section-remarks h2 {
    font-size: 22px;
    margin-top: 0;
    font-weight: 700;
    padding: 5px;
    text-align: center;
    color: #e7b5ac;
    background-color: #fffbf9;
}

.section-remarks h3 {
    font-size: 15px;
    text-transform: uppercase;
    margin-top: -10px;
    font-weight: 600;
    padding: 10px;
    color: white;
    background-color: #e7b5ac;
    letter-spacing: 5px;
    text-align: center;
}

.section-remarks p {
    line-height: 30px;
    font-size: 20px;
    font-weight: 400;
    padding-top: 15px;
    text-align: center;
}

.section-remarks p a {
    position: absolute;
    bottom: -46px;
    right: -38px;
}

.section-remarks .box {
    box-shadow: 0 0 25px rgba(0, 0, 0, .15);
    padding: 40px 20px;
    height: 450px;
    background-color: white;
}

.section-remarks img {
    width: 320px;
    height: auto;
    display: inherit;
    margin: auto;
}

.section-remarks .heading .btn-success {
    color: #5A7262;
    letter-spacing: 1px;
    line-height: 40px;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 30px;
    margin: auto;
    display: block;
    padding: 20px;
    width: 300px;
}

.section-remarks .heading .btn-success:hover {
    color: #f3a395;
}



/*----- Footer -----*/
footer{
    background-color: #2A2A2A;
    text-align: center;
}

footer p{
    font-size: 10px;
    color: #ffffff;
    padding: 10px 0px;
}