body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
}

/* wrapper 用於設定網頁的整體寬度 */
.wrapper{
    background: rgba(0, 0, 0, 0.0) none repeat scroll 0 0;
    cursor: default;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: all 0.5s ease-in-out 0s;
    visibility: hidden;
    width: 100%;
    z-index: 999;
    opacity: 1;
    visibility: visible;
    overflow: scroll;
}



/* ---------- Header ---------- */

.header-area {   
    left: 0;
    /*position: absolute;*/
    top: 0;
    width: 100%;
    z-index: 99;
    transition: all 0.7s ease 0s;
    background-color: #5A7262; 
}

.transparent-bar.stick {
    background-color: #5A7262;
    color: #f3a395;
    border-bottom: 0;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.04);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 0;
    animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
    z-index: 9999;
}

.logo,
.logo-menu-wrapper,
.header-site-icon,
.sticky-logo {
    transition: all 0.7s ease 0s;
}

.stick .logo {
    display: none;
    transition: all 0.7s ease 0s;
}
.sticky-logo {
    display: none;
    transition: all 0.7s ease 0s;
}
.stick .sticky-logo {
    display: block;
    padding-top: 4px;
}
.stick .logo-menu-wrapper {
    padding-top: 0px;
}
.stick .header-site-icon {
    padding-top: 17px;
}
.stick .main-menu ul li a {
    line-height: 60px;
}

.hm-3-padding .header-site-icon,
.hm-4-padding .header-site-icon {
    padding-top: 64px;
}



/* -- Header Logo -- */

.logo-menu-wrapper {   /*Logo上下間隔*/
    padding-top: 37px;
    padding-bottom: 30px;
}

.logo-small-device {
    padding-top: 30px;
    display: none;
}



/* -- Header Side Icon -- */

.header-site-icon {   /*圖標按鈕位置*/
    display: flex;
    justify-content: flex-end;
    padding-top: 56px;
}

.same-style {   /*圖標按鈕間隔*/
    margin-left: 16px;
}

.same-style:first-child {   /*第一個圖標按鈕左邊間隔*/
    margin-left: 0px;
}

.same-style button,
.same-style a {   /*圖標按鈕樣式*/
    background-color: transparent;
    border: medium none;
    color: #FFFFFF;
    font-size: 28px;
    cursor: pointer;
    position: relative;
}

.same-style button:hover,
.same-style a:hover {   /*鼠標靠近圖標按鈕*/
    color: #f3a395;
}



/* ---------- Banner ---------- */

.jumbotron {
    width: 100%;
    height: 250px;
    background: white;
    margin-bottom: 0;
}

.jumbotron h2 {
    font-size: 25px;
    margin-top: 0;
    font-weight: 700;
    color: #2A2A2A;
    padding: 15px;
    text-transform: uppercase;
}

.jumbotron a {
    margin-top: 60px;
}

.jumbotron h1 {
    font-size: 51px;
    font-weight: 700;
    color: tan;
    text-transform: uppercase;
}

.content {
    position: relative;
    text-align: center;
}

.thumbnail {
    background-color: whitesmoke;
    height: 320px;
    border: none;
    border-radius: 0px;
    text-align: center;
}



/*---------- Section Record ----------*/

.section-record {
    width: 100%;
    height: 950px;
	position: relative;
    background-image: url(../../images/background/dot-grid.png);
    background-position: top;
    padding-top: 50px;
}

#myChart {
    background-color: white;
}

.section-record h3 {
    color: #fff;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    width: 380px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
    padding: 5px;
    background-color: tan;
    font-weight: 300;
    text-transform: uppercase;
}

.section-record h4 {
    font-size: 30px;
    color: #2A2A2A;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    background-color: white;
    text-align: center;
    font-weight: 300;
    letter-spacing: 3px;
}

.section-record h4:hover {
    color: #f3a395;
    font-weight: 900;
}



/* -- Section Modal-- */

.btn-word {
    position: absolute;
    width: 100%;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 30px;
    border: 1px solid #888;
    width: 80%; 
    line-height: 50px;
    font-family: 'Noto Serif TC', serif;
}   

.modal-content p {
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
    line-height: 50px;
    text-align: center;
}

.close, 
.close1 {
    color: #2A2A2A;
    font-size: 30px;
    font-weight: 900;
    text-align: right;
}
  
.close:hover,
.close:focus,
.close1:hover,
.close1:focus {
    color: #f3a395;
    text-decoration: none;
    cursor: pointer;
}



/*----- Footer -----*/

footer{
    background-color: #2A2A2A;
    text-align: center;
}

footer p{
    font-size: 10px;
    color: #ffffff;
    padding: 10px 0px;
}