body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
}

/* wrapper 用於設定網頁的整體寬度 */
.wrapper{
    background-image: url(../../images/background/watercolorgreen.png);
    background-position: top;
    background-size: 100% 95%;
    background-repeat: no-repeat;
    cursor: default;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: all 0.5s ease-in-out 0s;
    visibility: hidden;
    width: 100%;
    z-index: 999;
    opacity: 1;
    visibility: visible;
    overflow: scroll;
    
}



/* ---------- Header ---------- */

.header-area {   
    left: 0;
    /*position: absolute;*/
    top: 0;
    width: 100%;
    z-index: 99;
    transition: all 0.7s ease 0s;
    background-color: #5A7262; 
}

.transparent-bar.stick {
    background-color: #5A7262;
    color: #f3a395;
    border-bottom: 0;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.04);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 0;
    animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
    z-index: 9999;
}

.logo,
.logo-menu-wrapper,
.header-site-icon,
.sticky-logo {
    transition: all 0.7s ease 0s;
}

.stick .logo {
    display: none;
    transition: all 0.7s ease 0s;
}
.sticky-logo {
    display: none;
    transition: all 0.7s ease 0s;
}
.stick .sticky-logo {
    display: block;
    padding-top: 4px;
}
.stick .logo-menu-wrapper {
    padding-top: 0px;
}
.stick .header-site-icon {
    padding-top: 17px;
}
.stick .main-menu ul li a {
    line-height: 60px;
}

.hm-3-padding .header-site-icon,
.hm-4-padding .header-site-icon {
    padding-top: 64px;
}



/* -- Header Logo -- */

.logo-menu-wrapper {   /*Logo上方間隔*/
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo-small-device {
    padding-top: 30px;
    display: none;
}



/* -- Header Side Icon -- */

.header-site-icon {   /*圖標按鈕位置*/
    display: flex;
    justify-content: flex-end;
    padding-top: 36px;
}

.same-style {   /*圖標按鈕間隔*/
    margin-left: 16px;
}

.same-style:first-child {   /*第一個圖標按鈕左邊間隔*/
    margin-left: 0px;
}

.same-style button,
.same-style a {   /*圖標按鈕樣式*/
    background-color: transparent;
    border: medium none;
    color: #FFFFFF;
    font-size: 28px;
    cursor: pointer;
    position: relative;
}

.same-style button:hover,
.same-style a:hover {   /*鼠標靠近圖標按鈕*/
    color: #f3a395;
}


/* -- Header Back Button -- */

.header-area .header-back .btn-success {
    color: #fff;
    letter-spacing: 1px;
    border-radius: 0;
    background-color: #5A7262;
    border-color: #5A7262;
    text-transform: uppercase;
    margin: 0 auto;
    justify-content: flex-end;
    padding-top: 40px;
    font-size: 20px;
}

.header-area .header-back .btn-success:hover {
    color: #f3a395;
}



/* ---------- Section Flip Card ---------- */

.jumbotron-fluid {
    width: 100%;
    height: 500px;
    position: relative;
    background-color: transparent;
}

.jumbotron-fluid h1,
.jumbotron-fluid h2,
.jumbotron-fluid h4 {
    color: #2A2A2A;
    text-transform: uppercase;
}

.jumbotron-fluid h4 {
    font-size: 16px;
    background: #E0B39C;
    display: inline;
    letter-spacing: 5px;
    padding: 15px 40px;
}

.jumbotron-fluid h2 {
    font-size: 32px;
    margin-top: 100px;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    font-family: 'Noto Serif TC', serif;
}

.jumbotron-fluid h1 {
    font-size: 51px;
    font-weight: 700;
    text-transform: none;
    margin-top: 100px;
    text-align: center;
}

.jumbotron-fluid a {
    margin-top: 60px;
}

.jumbotron-fluid .btn-success,
.jumbotron-fluid .btn-success:not(:disabled):not(.disabled):active {   /*按鈕樣式*/
    color: #5A7262;
    font-size: 25px;
    padding: 10px 35px;
    background-color: white;
    border: none;
}

.jumbotron-fluid .btn-success:hover {   /*鼠標靠近按鈕*/
    color: #ffffff;
    background-color: #1F3B2C;
}

.content {
    position: relative;
    text-align: center;
}


/* -- Flip Card -- */

.flip-card {
  background-color: transparent;
  max-width: 500px;
  height: 400px;
  perspective: 1000px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #fffae2;
  color: #2A2A2A;
}

.flip-card-back {
  background-color: #fffae2;
  color: #2A2A2A;
  transform: rotateY(180deg);
}
